<!DOCTYPE html>
<html lang="en">
  <body>
    <section class="Products">
      <div>
        <div class="cont-prod-title">
          <span>100% NATURAL</span>
          <h1 class="h2-title">PRODUCTS</h1>
        </div>
        <ul class="prod-img">
          <li class="li-prod">
            <img src="images/home-pic1.png" alt="prod1" width="360" />
            <h2>ICE CREAM</h2>
            <p>
              Indulge in our rich and creamy ice cream, handcrafted with
              all-natural ingredients and available in a variety of flavors.
            </p>
            <button class="button-1" type="button" data-modal-open></button>
            <div class="modal is-hidden" data-modal>
              <div class="modal-content">
                <button class="close-btn" data-modal-close>&times;</button>
                <p class="modal-text"><strong>Indulge</strong></p>
              </div>
            </div>
          </li>
          <li class="li-prod2">
            <img src="images/home-pic2.png" alt="prod2" width="360" />
            <h2>ICE COFFEE</h2>
            <p>
              Refresh and energize with our perfectly brewed iced coffee, made
              with high-quality beans and served over ice.
            </p>
            <button class="button-2" type="button" data-modal-open></button>
            <div class="modal is-hidden" data-modal>
              <div class="modal-content">
                <button class="close-btn" data-modal-close>&times;</button>
                <p class="modal-text"><strong>Refresh</strong></p>
              </div>
            </div>
          </li>
          <li class="li-prod3">
            <img src="images/home-pic3.png" alt="prod3" width="360" />
            <h2>MILKSHAKE</h2>
            <p>
              Satisfy your sweet tooth with our thick, made with premium ice
              cream, topped with whipped cream and your favorite toppings.
            </p>
            <button class="button-3" type="button" data-modal-open></button>
            <div class="modal is-hidden" data-modal>
              <div class="modal-content">
                <button class="close-btn" data-modal-close>&times;</button>
                <p class="modal-text"><strong>Satisfy</strong></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
