<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <section class="Products">
      <div class="container-products">
        <div class="cont-prod-title">
          <label for="h2-title">100% NATURAL</label>
          <h1 class="h2-title">PRODUCTS</h1>
        </div>
        <ul class="prod-img">
          <li class="li-prod">
            <img src="images/home-pic1.jpg" alt="prod1" width="360" />
            <h2>ICE CREAM</h2>
            <p>
              Indulge in our rich and creamy ice cream, handcrafted with
              all-natural ingredients and available in a variety of flavors.
            </p>
            <svg>
              <use href="./icons/"></use>
            </svg>
          </li>
          <li class="li-prod2">
            <img src="images/" alt="img2" width="360" />
            <h2>ICE COFFEE</h2>
            <p>
              Refresh and energize with our perfectly brewed iced coffee, made
              with high-quality beans and served over ice.
            </p>
            <svg>
              <use href="./icons/"></use>
            </svg>
          </li>
          <li class="li-prod3">
            <img src="images/" alt="img3" width="360" />
            <h2>MILKSHAKE</h2>
            <p>
              Satisfy your sweet tooth with our thick, made with premium ice
              cream, topped with whipped cream and your favorite toppings.
            </p>
            <svg>
              <use href="./icons/"></use>
            </svg>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
