<section id="advantages-section">
    <div class="advantages">
        <h1 class="title-hidden">Advanatges</h1>
        <ul>
            <li>
                <div>
                    <svg class="icon">
                        <use href="./icons/symbol-defs.svg#icon-Frame-4"></use>
                    </svg>
                    <h2>721</h2>
                    <p>At 721 Cow, we're passionate about producing the highest quality ice cream possible.</p>
                </div>
            </li>
            <li>
                <div>
                    <svg class="icon">
                        <use href="./icons/symbol-defs.svg#icon-apples-svgrepo-com-1"></use>
                    </svg>
                    <h2>16kg</h2>
                    <p>You can be sure you're getting a scoop of the freshest ice cream around.</p>
                </div>
            </li>
            <li>
                <div>
                    <svg class="icon">
                        <use href="./icons/symbol-defs.svg#icon-Group"></use>
                    </svg>
                    <h2>84</h2>
                    <p>We use only the freshest, locally-sourced ingredients to make our 84 unique and delicious
                        flavors.</p>
                </div>
            </li>
        </ul>
    </div>
</section>