<section id="partners-contact">
    <h1 style="display: none;">Hidden Title</h1>
    <div class="partners-card">
        <div class="partners-card-content">
            <div class="partners-category">
                <h3>Cafe</h3>
            </div>
            <div class="partners-location">
                <strong>Chicago</strong>
                <p>Handcrafted coffee, baked goods,
                    <br>
                    and premium ice cream.
                </p>
            </div>
            <div class="stroke"></div>
            <div class="partners-opening-hours">
                <div class="schedule">
                    <strong>Monday-Friday</strong>
                    <p>06:00 AM-10:00 PM</p>
                </div>
                <div class="schedule">
                    <strong>Saturday-Monday</strong>
                    <p>08:00 AM-16:00 PM</p>
                </div>
            </div>
            <div class="stroke"></div>
            <div class="partners-contact-info">
                <a href="tel:+61(0) 383 766 284 " class="teltext"> +61(0) 383 766 284</a>
                <br>
                <a href="mailto:noreplay@envato.com " class="mailtext">noreplay@envato.com</a>
            </div>
        </div>
    </div>
    <div class="partners-card">
        <div class="partners-card-content">
            <div class="partners-category-food-truck">
                <h3>Food Tuck</h3>
            </div>
            <div class="partners-location">
                <strong>Los Angeles</strong>
                <p>Fusion cuisine and refrashing
                    <br>
                    ice cream made with passion.
                </p>
            </div>
            <div class="stroke"></div>
            <div class="partners-opening-hours">
                <div class="schedule">
                    <strong>Monday-Friday</strong>
                    <p>06:00 AM-10:00 PM</p>
                </div>
                <div class="schedule">
                    <strong>Saturday-Monday</strong>
                    <p>08:00 AM-16:00 PM</p>
                </div>
            </div>
            <div class="stroke"></div>
            <div class="partners-contact-info">
                <a href="tel:+61(0) 383 766 284 " class="teltext"> +61(0) 383 766 284</a>
                <br>
                <a href="mailto:noreplay@envato.com " class="mailtext">noreplay@envato.com</a>
            </div>
        </div>
    </div>
    <div class="partners-card">
        <div class="partners-card-content">
            <div class="partners-category">
                <h3>Cafe</h3>
            </div>
            <div class="partners-location">
                <strong>New York</strong>
                <p>Specialty teas, artisanal pastries,
                    <br>
                    mouth-watering ice cream.
                </p>
            </div>
            <div class="stroke"></div>
            <div class="partners-opening-hours">
                <div class="schedule">
                    <strong>Monday-Friday</strong>
                    <p>06:00 AM-10:00 PM</p>
                </div>
                <div class="schedule">
                    <strong>Saturday-Monday</strong>
                    <p>08:00 AM-16:00 PM</p>
                </div>
            </div>
            <div class="stroke"></div>
            <div class="partners-contact-info">
                <a href="tel:+61(0) 383 766 284 " class="teltext"> +61(0) 383 766 284</a>
                <br>
                <a href="mailto:noreplay@envato.com " class="mailtext">noreplay@envato.com</a>
            </div>
        </div>
    </div>
    <div class="btn-details">
        <button class="btn-partners btn-locations-partners">Our Locations ></button>
        <button class="btn-partners btn-frachise-partners">Franchise ></button>
    </div>
</section>