<div class="global-footer">


  <div class="social-link-footer">
    <p class="homemade-text">
      homemade ice cream made <span class="passion-text">with passion</span>
    </p>
    <div class="social-footer-display">
      <ul class="social-links">
        <li>
          <a
            href="https://www.github.com/"
            target="_blank"
            class="footer-icon"
            aria-label="github"
          >
            <svg>
              <use href="/src/icons/symbol-defs.svg#icon-github-footer"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.telegram.com/"
            target="_blank"
            class="footer-icon"
            aria-label="telegram"
          >
            <svg>
              <use href="/src/icons/symbol-defs.svg#icon-telegram-footer"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            class="footer-icon"
            aria-label="facebook-link"
          >
            <svg>
              <use href="/src/icons/symbol-defs.svg#icon-facebook-corect"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="contact-footer">
        <p class="contact-text-footer">
          Feel free to contact
          <a href="tel:+61 (0) 383 766 284" class="contact-phone-footer"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
  </div>
  <div>
    <hr class="line-footer" />
    <p class="copyright-footer">&copy; 2024 - IceCream. All Rights Reserved.</p>
  </div>
</div>
