<div class="global-footer">
  <div>
    <button class="btn-footer btn-locations-footer">
      Our Locations &#8250;
    </button>
    <button class="btn-footer btn-frachise-footer">Franchise &#8250;</button>
  </div>
  <p><span>homemade ice cream made</span>with passion</p>
  <div>
    <ul class="social-links">
      <li>
        <a
          href="https://www.github.com/"
          target="_blank"
          class="footer-icon"
          aria-label="github"
        >
          <svg>
            <use href="/src/icons/symbol-defs.svg##icon-github-footer"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.telegram.com/"
          target="_blank"
          class="footer-icon"
          aria-label="telegram"
        >
          <svg>
            <use href="/src/icons/symbol-defs.svg##icon-telegram-footer"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="footer-icon"
          aria-label="facebook-link"
        >
          <svg>
            <use href="/src/icons/symbol-defs.svg#icon-facebook-footer"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div>
      <p>Feel free to contact</p>
      <a href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
    </div>
  </div>
  <br />
  <div>
    <p>&copy; 2024 - IceCream. All Rights Reserved</p>
  </div>
</div>
