<svg>
  <use href="./icons/nav.svg#icon-Group"></use>
</svg>
<nav class="nav-bar">
  <ul>
    <li>
      <a href="" target="_blank">Home</a>
    </li>
    <li>
      <a href="" target="_blank">About us</a>
    </li>
    <li>
      <a class="" href="" target="_blank">How it’s made?</a>
    </li>
    <li><a href="" target="_blank">Our products</a></li>
    <li><a href="" target="_blank">Contact</a></li>
  </ul>
</nav>
<button>
  <svg>
    <use href="./icons/btn-nav.svg#icon-Btn-4"></use>
  </svg>
</button>
