<section class="gallery-section-mara" id="gallery-section">
  <div class="gallery-mara">
    <div class="gallery-item-first">
      <picture class="sorbet">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/gallery1-d.png, /src/images/gallery1-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/gallery1-t.png, /src/images/gallery1-t-2x.png"
        />
        <!-- Mobile -->
        <img
          srcset="/src/images/gallery1-m.png, /src/images/gallery1-m-2x.png"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="gallery-item-second">
      <picture class="sorbet">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/gallery2-d.png, /src/images/gallery2-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/gallery2-t.png, /src/images/gallery2-t-2x.png"
        />
        <!-- Mobile -->
        <img
          srcset="/src/images/gallery2-m.png, /src/images/gallery2-m-2x.png"
          alt="ice-cream"
        />
      </picture>
      <picture class="sorbet">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/gallery3-d.png, /src/images/gallery3-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/gallery3-t.png, /src/images/gallery3-t-2x.png"
        />
        <!-- Mobile -->
        <img
          srcset="/src/images/gallery3-m.png, /src/images/gallery3-m-2x.png"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="gallery-item-third">
      <picture class="sorbet">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/gallery4-d.png, /src/images/gallery4-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/gallery4-t.png, /src/images/gallery4-t-2x.png"
        />
        <!-- Mobile -->
        <img
          srcset="/src/images/gallery4-m.png, /src/images/gallery4-m-2x.png"
          alt="ice-cream"
        />
      </picture>
      <picture class="sorbet">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/gallery5-d.png, /src/images/gallery5-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/gallery5-t.png, /src/images/gallery5-t-2x.png"
        />
        <!-- Mobile -->
        <img
          srcset="/src/images/gallery5-m.png, /src/images/gallery5-m-2x.png"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="gallery-item-fourth first-distinct">
      <picture class="sorbet">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/gallery6-d.png, /src/images/gallery6-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/gallery6-t.png, /src/images/gallery6-t-2x.png"
        />
        <!-- Mobile -->
        <img
          srcset="/src/images/gallery6-m.png, /src/images/gallery6-m-2x.png"
          alt="ice-cream"
        />
      </picture>
      <picture class="sorbet">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/gallery7-d.png, /src/images/gallery7-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/gallery7-t.png, /src/images/gallery7-t-2x.png"
        />
        <!-- Mobile -->
        <img
          srcset="/src/images/gallery7-m.png, /src/images/gallery7-m-2x.png"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="gallery-item-fifth second-distinct">
      <picture class="sorbet">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/gallery8-d.png, /src/images/gallery8-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/gallery8-t.png, /src/images/gallery8-t-2x.png"
        />
        <!-- Mobile -->
        <img
          srcset="/src/images/gallery8-m.png, /src/images/gallery8-m-2x.png"
          alt="ice-cream"
        />
      </picture>
      <picture class="sorbet">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/gallery9-d.png, /src/images/gallery9-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/gallery9-t.png, /src/images/gallery9-t-2x.png"
        />
        <!-- Mobile -->
        <img
          srcset="/src/images/gallery9-m.png, /src/images/gallery9-m-2x.png"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="gallery-item-6">
      <picture class="sorbet">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/gallery10-d.png, /src/images/gallery10-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/gallery10-t.png, /src/images/gallery10-t-2x.png"
        />
        <!-- Mobile -->
        <img
          srcset="/src/images/gallery10-m.png, /src/images/gallery10-m-2x.png"
          alt="ice-cream"
        />
      </picture>
    </div>
  </div>
</section>
