<section class="gallery-section-mara" id="gallery-section">
  <div class="gallery-mara">
    <div class="gallery-item-1">
      <img src="/src/images/home-pic5.jpg" alt="icecream" />
    </div>
    <div class="gallery-item-2">
      <img class="sorbet" src="/src/images/home-pic10.jpg" alt="icecream" />
      <img class="sorbet" src="/src/images/home-pic9.jpg" alt="icecream" />
    </div>
    <div class="gallery-item-3">
      <img class="sorbet" src="/src/images/home-pic1.jpg" alt="icecream" />
      <img class="sorbet" src="/src/images/home-pic4.jpg" alt="icecream" />
    </div>
    <div class="gallery-item-4 first-distinct">
      <img class="sorbet" src="/src/images/home-pic8.jpg" alt="icecream" />
      <img class="sorbet" src="/src/images/home-pic3.jpg" alt="icecream" />
    </div>
    <div class="gallery-item-5 second-distinct">
      <img class="sorbet" src="/src/images/home-pic7.jpg" alt="icecream" />
      <img class="sorbet" src="/src/images/home-pic6.jpg" alt="icecream" />
    </div>
    <div class="gallery-item-6">
      <img class="sorbet" src="/src/images/home-pic2.jpg" alt="icecream" />
    </div>
  </div>
</section>
