<div class="hero">
  <div class="hero-left">
    <h1 class="ice-cream-made">
      <span>ice cream</span>
      <span>made with</span>
      <span class="passion">passion</span>
    </h1>
    <div class="hero-buttons">
      <ul>
        <li><button class="hero-products-btn">Products</button></li>
        <li><button class="hero-howitsmade-btn">How it's made?</button></li>
      </ul>
    </div>
    <div class="hero-milk-pitcher">
      <div>
        <img src="/src/images/milk_pitcher.jpg" alt="milk-pitcher" />
      </div>
      <div>
        <p class="hero-left-text">
          indulge in a scoop of ice <br />
          cream made with passion and <br />
          treat your taste buds to an <br />
          unforgettable experience!
        </p>
        <button type="button" class="hero-arrow-btn">
          <svg></svg>
        </button>
      </div>
    </div>
    <div class="hero-right">
      <div class="hero-ice-cream">
        <img src="/src/images/ice_cream.jpg" alt="cone-ice-cream" />
      </div>
      <div class="hero-cafes-trucks">
        <ul>
          <li class="cafes">
            <span>16</span>
            <span>cafes</span>
          </li>
          <li class="trucks">
            <span>23</span>
            <span>food trucks</span>
          </li>
        </ul>
      </div>
      <div class="hero-tasty">
        <img src="/src/images/sooo_tasty.jpg" alt="girl-eating-an-ice-cream" />
      </div>
    </div>
  </div>
</div>
