<!-- Section Gallery-->
<section class="gallery section" id="gallery">
<div class="container">
    <ul class="unstyle-list">
        <li>
            <img class="gallery" src="./images/home-pic1.jpg" alt="first image gallery" width="283">
        </li>
        <li>
            <img class="gallery" src="./images/home-pic2.jpg"alt="second image gallery"  width="138">
        </li>
        <li>
            <img class="gallery" src="./images/home-pic3.jpg" alt="third image gallery" width="138">
        </li>
        <li>
            <img class="gallery" src="./images/home-pic4.jpg" alt="fourth image gallery" width="138">
        </li>
        <li>
            <img class="gallery" src="./images/home-pic5.jpg" alt="fifth image gallery" width="138">
        </li>
        <li>
        <img class="gallery" src="./images/home-pic6.jpg" alt="sixth image gallery" width="138">
    </li>
    <li>
        <img class="gallery" src="./images/home-pic7.jpg" alt="seventh image gallery" width="138">
    </li>
    <li>
        <img class="gallery" src="./images/home-pic8.jpg" alt="eighth image gallery" width="138">
    </li>
    <li>
        <img class="gallery" src="./images/home-pic9.jpg" alt="ninth image gallery" width="138">
    </li>
    <li>
        <img class="gallery" src="./images/home-pic10.jpg" alt="tenth image gallery" width="138">
    </li>
    </ul>
</div>
</section>