<!-- Section Gallery-->
<section class="gallery section" id="gallery">
  <div class="container">
    <ul class="unstyle-list">
      <li>
        <picture
          class="gallery-1"
          src="/src/images/home-pic1.jpg"
          alt="first image gallery"
          width="283"
        ></picture>
      </li>
      <li>
        <picture
          class="gallery-2"
          src="/src/images/home-pic2.jpg"
          alt="second image gallery"
          width="138"
        ></picture>
      </li>
      <li>
        <picture
          class="gallery-3"
          src="/src/images/home-pic3.jpg"
          alt="third image gallery"
          width="138"
        ></picture>
      </li>
      <li>
        <picture
          class="gallery-4"
          src="/src/images/home-pic4.jpg"
          alt="fourth image gallery"
          width="138"
        ></picture>
      </li>
      <li>
        <picture
          class="gallery-5"
          src="/src/images/home-pic5.jpg"
          alt="fifth image gallery"
          width="138"
        ></picture>
      </li>
      <li>
        <picture
          class="gallery-6"
          src="/src/images/home-pic6.jpg"
          alt="sixth image gallery"
          width="138"
        ></picture>
      </li>
      <li>
        <picture
          class="gallery-7"
          src="/src/images/home-pic7.jpg"
          alt="seventh image gallery"
          width="138"
        ></picture>
      </li>
      <li>
        <picture
          class="gallery-8"
          src="/src/images/home-pic8.jpg"
          alt="eighth image gallery"
          width="138"
        ></picture>
      </li>
      <li>
        <picture
          class="gallery-9"
          src="/src/images/home-pic9.jpg"
          alt="ninth image gallery"
          width="138"
        ></picture>
      </li>
      <li>
        <picture
          class="gallery-10"
          src="/src/images/home-pic10.jpg"
          alt="tenth image gallery"
          width="138"
        ></picture>
      </li>
    </ul>
  </div>
</section>
