<section class="products" id="products">
  <span class="upper-prod"> 100% Natural </span>
  <h1 class="title-prod">Products</h1>
  <ul class="product-type">
    <li class="product-list">
       <picture class="product-pic">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/products-1-d.png, /src/images/products-1-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/products-1-t.png, /src/images/products-1-t-2x.png"
        />
        <!-- Mobile -->
        ??
        <source
          media="(max-width:768px)"
          srcset="/src/images/products-1-m.png, /src/images/products-1-m-2x.png"
        />
        ??
        <img
          srcset="/src/images/products-1-m.png, /src/images/products-1-m-2x.png"
          alt="ice-cream"
        />
      </picture>
      <div class="text-cont1">
        <div class="just-text">
          <h3 class="prod-1">ICE CREAM</h3>
          <p class="prod-description">
            Indulge in our rich and creamy ice cream, handcrafted with
            all-natural ingredients and available in a variety of flavors.
          </p>
          <div>
            <button class="modal-svg-btn" id="description-modal">
              <svg
                class="arrow"
                xmlns="http://www.w3.org/2000/svg"
                height="10"
                width="8.75"
                viewBox="0 0 448 512"
              >
                <path
                  fill="#d41443"
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                />
              </svg>
            </button>
            <div id="myModal" class="modal-more-info">
              <div class="modal-MI-content">
                <span class="close">&times;</span>
                <p>Descriere produs 1.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="product-list">
      <picture class="product-pic">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/products-2-d.png, /src/images/products-2-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/products-2-t.png, /src/images/products-2-t-2x.png"
        />
        <!-- Mobile -->
        ??
        <source
          media="(max-width:768px)"
          srcset="/src/images/products-2-m.png, /src/images/products-2-m-2x.png"
        />
        ??
        <img
          srcset="/src/images/products-2-m.png, /src/images/products-2-m-2x.png"
          alt="ice-cream"
        />
      </picture>
      <div class="text-cont2">
        <div class="just-text">
          <h3 class="prod-1">ICE COFFEE</h3>
          <p class="prod-description">
            Refresh and energize with our perfectly brewed iced coffee, made
            with high-quality beans and served over ice.
          </p>
          <div>
            <button class="modal-svg-btn" id="description-modal">
              <svg
                class="arrow"
                xmlns="http://www.w3.org/2000/svg"
                height="10"
                width="8.75"
                viewBox="0 0 448 512"
              >
                <path
                  fill="#d41443"
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                />
              </svg>
            </button>
            <div id="myModal" class="modal-more-info">
              <div class="modal-MI-content">
                <span class="close">&times;</span>
                <p>Descriere produs 1.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="product-list">
      <picture class="product-pic">
        <!-- Desktop -->
        <source
          media="(min-width:1280px)"
          srcset="/src/images/products-3-d.png, /src/images/products-3-d-2x.png"
        />
        <!-- Tablet -->
        <source
          media="(min-width:768px)"
          srcset="/src/images/products-3-t.png, /src/images/products-3-t-2x.png"
        />
        <!-- Mobile -->
        ??
        <source
          media="(max-width:768px)"
          srcset="/src/images/products-3-m.png, /src/images/products-3-m-2x.png"
        />
        ??
        <img
          srcset="/src/images/products-3-m.png, /src/images/products-3-m-2x.png"
          alt="ice-cream"
        />
      </picture>
      <div class="text-cont3">
        <div class="just-text">
          <h3 class="prod-1">MILKSHAKE</h3>
          <p class="prod-description">
            Satisfy your sweet tooth with our thick, made with premium ice
            cream, topped with whipped cream and your favorite toppings.
          </p>
          <div>
            <button class="modal-svg-btn" id="description-modal">
              <svg
                class="arrow"
                xmlns="http://www.w3.org/2000/svg"
                height="10"
                width="8.75"
                viewBox="0 0 448 512"
              >
                <path
                  fill="#d41443"
                  d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                />
              </svg>
            </button>
            <div id="myModal" class="modal-more-info">
              <div class="modal-MI-content">
                <span class="close">&times;</span>
                <p>Descriere produs 1.</p>
              </div>
            </div>
          </div>
        </div>
    </li>
  </ul>
</section>