<section class="Products" id="products">
  <span class="upper-prod"> 100% Natural </span>
  <h1 class="title-prod">Products</h1>
  <ul class="product-type">
    <li class="product-list">
      <img src="images/home-pic1.png" alt="prod1" />
      <h3 class="prod-1">ICE CREAM</h3>
      <p class="prod1-desciption">
        Indulge in our rich and creamy ice cream, handcrafted with all-natural
        ingredients and available in a variety of flavors.
      </p>
      <div>
        <button class="modal-svg-btn" data-about-open>
          <svg class="icon-modal-prod-1">
            <use href="/icons/icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="description4prod is-hidden" data-about>
        <div class="">
          <button class="" data-about-close>
            <span class="">&times;</span>
          </button>
          <h2 class="">titlu modal?</h2>
          <p class="">Text modal</p>
        </div>
      </div>
    </li>
    <li>
      <img src="images/home-pic2.png" alt="prod2" />
      <h3 class="prod-2">ICE COFFEE</h3>
      <p class="prod-desciption">
        Refresh and energize with our perfectly brewed iced coffee, made with
        high-quality beans and served over ice.
      </p>
      <div>
        <button class="prod-2" data-about-open>
          <svg class="icon-modal-prod-2">
            <use href="/icons/arrow-right.svg"></use>
          </svg>
        </button>
      </div>
      <div class="description is-hidden" data-about>
        <div class="">
          <button class="" data-about-close>
            <span class="">&times;</span>
          </button>
          <h2 class="">titlu modal?</h2>
          <p class="">Text modal</p>
        </div>
      </div>
    </li>
    <li>
      <img src="images/home-pic3.png" alt="prod3" />
      <h3 class="prod-3">MILKSHAKE</h3>
      <p class="prod-desciption">
        Satisfy your sweet tooth with our thick, made with premium ice cream,
        topped with whipped cream and your favorite toppings.
      </p>
      <div>
        <button class="prod-3" data-about-open>
          <svg class="icon-modal-prod-1">
            <use href="/icons/icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="description is-hidden" data-about>
        <div class="">
          <button class="" data-about-close>
            <span class="">&times;</span>
          </button>
          <h2 class="">titlu modal?</h2>
          <p class="">Text modal</p>
        </div>
      </div>
    </li>
  </ul>
</section>
