<!-- Customer section-->
<section class="section_customer" id="customers">
  <div class="slider">
    <div class="slides">
      <!--radio buttons start--

      <input type="radio" name="radio-buton" id="radio1" />
      <input type="radio" name="radio-buton" id="radio2" />
      <input type="radio" name="radio-buton" id="radio3" />

      <!--radio buttons end-->
      <!--slide images start-->
      <div class="slide first">
        <img src="./images/img-customer1.png" class="m1" alt="photo" />
      </div>
      <div class="slide">
        <img src="./images/img-customer2.png" class="m2" alt="photo" />
      </div>
      <div class="slide">
        <img src="./images/img-customer3.png" class="m3" alt="photo" />
      </div>
    </div>
    <!--slide images end-->
    <!--automatic navigation start-->
    <div class="navigation-auto">
      <div class="auto-btn1"></div>
      <div class="auto-btn2"></div>
      <div class="auto-btn3"></div>
    </div>
    <!--automatic navigation end-->
  </div>
  <!--manual automatic navigation start-->
  <div class="navigation-manual">
    <label for="radio1" class="manual-btn"></label>
    <label for="radio2" class="manual-btn"></label>
    <label for="radio3" class="manual-btn"></label>
  </div>
  <!-- manual automatic navigation end-->
  <div class="text_customer">
    <p>
      I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have beautiful serving, cozy atmosphere and
      polite staff.
    </p>
    <span>Emily, Los Angeles</span>
  </div>
</section>
