<!-- Customer section-->
<section class="section_customer" id="customers">
  <div class="slider">
    <div class="slides">
      <!--radio buttons start-->
      <input type="radio" name="radio-buton" id="radio1" />
      <input type="radio" name="radio-buton" id="radio2" />
      <input type="radio" name="radio-buton" id="radio3" />

      <!--radio buttons end-->
      <!--slide images start-->
      <div class="slide first">
        <img src="./images/img-customer1.png" alt="photo" />
      </div>
      <div class="slide">
        <img src="./images/img-customer2.png" alt="photo" />
      </div>
      <div class="slide">
        <img src="./images/img-customer3.png" alt="photo" />
      </div>
    </div>
    <!--slide images end-->
  </div>
  <!--manual  navigation start-->
  <div class="navigation-manual">
    <div>
      <img src="./icons/home.svg" alt="home" class="home" />
    </div>
    <label for="radio1" class="manual-btn btn"></label>
    <label for="radio2" class="manual-btn"></label>
    <label for="radio3" class="manual-btn"></label>
  </div>
  <!-- manual  navigation end-->
  <!--text customer-->
  <div class="text_customer">
    <div class="underline_custumer">
      <p class="underline">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      <!--elipses-->
      <div class="elipse">
        <img src="./icons/elipse.svg" alt="elipse" />
        <img src="./icons/elipse.svg" alt="elipse" />
        <img src="./icons/elipse.svg" alt="elipse" />
      </div>
      <!--nombre customer-->
      <div class="nombre-custumer">
        <span>Emily, Los Angeles</span>
      </div>
    </div>
  </div>
</section>
