
#partners-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.partners-card {
  border-radius: 24px;
  padding: 20px;
  margin: 0 auto;
  width: 368px;
  height: 538px;
  box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
  background: #fff;
}
.partners-card-content {
  display: grid;
  grid-gap: 10px;
  width: 288px;
  height: 458px;
}
.stroke {
  width: 288px;
  height: 2px;
  background-color: #e1e1e1;
}
.schedule strong {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: #000;
}
.schedule p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  color: #ffa5ba;
}
.partners-category {
  border-radius: 6px;
  width: 73px;
  height: 28px;
  background: #f0d1a5;
  text-align: center;
}
.partners-category h3 {
  color: #fff;
  margin: auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-align: center;
}
.partners-category-food-truck {
  border-radius: 6px;
  width: 138px;
  height: 27px;
  background: #c2e297;
  text-align: center;
}
.partners-category-food-truck h3 {
  margin: auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.partener-location p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: #907e82;
}
.teltext {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  color: #907e82;
}
.teltext:focus,
.mailtext:focus {
  color: #d41443;
}
.mailtext {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  color: #907e82;
}

@media only screen and (max-width: 480px) {
  .partners-card {
    width: calc(
      100% - 20px
    ); /* Un singur card pe rând pentru ecranele mai mici de 480px */
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .partners-card {
    width: calc(
      50% - 20px
    ); /* Două carduri pe rând pentru ecranele între 480px și 768px */
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .partners-card {
    width: calc(
      33.33% - 20px
    ); /* Trei carduri pe rând pentru ecranele între 768px și 1280px */
  }
}

@media only screen and (min-width: 1280px) {
  .partners-card {
    width: calc(
      25% - 20px
    ); /* Patru carduri pe rând pentru ecranele mai mari de 1280px */
  }
}
