:root {
  --font-family: 'DM Sans', sans-serif;
  --second-font-family: 'Titan One', sans-serif;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --hover-input: #d31342;
  --input: #d9d9d9;
  --background-text: #e5e5e5;
}

.section_customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

/*css for text customer*/
.text_customer {
  background-color: var(--background-text);
  border-radius:0.25rem;
  margin-left: 7.25rem;
  margin-right: 7.25rem;
  margin-top:1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.underline {
  position: relative;
  margin-left: 8%;
  margin-right: 8%;
  font-family: var(--font-family);
  font-size: 1.3rem;
  line-height: 2;
  white-space: 0.25rem;
}

.underline::before {
  content: url(../icons/quotes.svg);
}

.underline::after {
  content: "" ;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d31342;


}

.nombre-custumer {
  font-family: var(--font-family);
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  /*
  margin: 40px;*/
}
/*css For slider*/
.first img {
  width: 5.313rem;
  height: 5.313rem;
}

.slider {
  margin-top: 1rem;
  border-radius: 50%;
  width: 5.313rem;
  height: 5.313rem;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 31.25rem;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: var(--transition);
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute; 
  margin-top:40rem;
  /*
  display: flex;*/
  justify-content: center;
}

.manual-btn {
  border: 1px solid var(--input);
  background: var(--input);
  padding:5px;
  border-radius:10px;
  transition: var(--transition);
  cursor: pointer;
}
.manual-btn:not(:last-child) {
  margin-right: 0.7rem;
}


.manual-btn:hover {
  border: var(--hover-input);
  background-color: var(--hover-input);
}

.home {
  position: absolute;
  margin-left: 0.125rem;
  margin-top: 0.125rem;  
}


#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}
/* Styles for tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {

}
/*Styles for desctop*/
@media screen and (min-width: 769px) and (max-width: 1280px) {
.navigation-manual {
  margin-top: 22rem;
  }
  
}
