:root {
  --font-family: 'DM Sans', sans-serif;
  --second-font-family: 'Titan One', sans-serif;
  --footer-background-color: #fff5f6;
  --white-color: #fff;
  --btn-footer-color: #d41443;
  --btn-footer-hover-background: #d41342;
  --homemade-color-footer: #ffa5ba;
  --background-footer-icon: #fea5bb;
  --passion-color-footer: #d41443;
  --contact-phone-color: #d41443;
  --contact-text-color: #000;
  --copyright-footer-color: #907e82;
  --line-footer-color: #e1e1e1;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-footer {
  background-color: var(--footer-background-color);
  height: 1513px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.homemade-text {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--homemade-color-footer);
  width: 232px;
  display: flex;
  flex-wrap: wrap;
}

.passion-text {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--passion-color-footer);
  width: 200px;
  padding-top: 15px;
}

.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.social-link-footer {
  display: flex;
  justify-content: space-between;
  margin: 110px 16px 40px 16px;
  flex-direction: column;
}

.footer-icon {
  width: 34px;
  height: 34px;
  background: var(--background-footer-icon);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon:hover,
.footer-icon:active,
.footer-icon:focus {
  background: var(--btn-footer-color);
  border-radius: 50%;
  outline: none;
  transition: var(--transition);
}

.footer-icon svg {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.contact-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.contact-text-footer {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--contact-text-color);
}

.contact-phone-footer {
  color: var(--contact-phone-color);
}

hr.line-footer {
  border-top: 1px solid var(--line-footer-color);
  margin: 0;
}

.copyright-footer {
  display: block;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--copyright-footer-color);
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

/* Stiliare pentru tableta */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .global-footer {
    background-color: var(--footer-background-color);
    height: 877px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .homemade-text {
    font-family: var(--second-font-family);
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--homemade-color-footer);
    width: 340px;
  }

  .passion-text {
    font-family: var(--second-font-family);
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--passion-color-footer);
    width: 340px;
  }

  .social-link-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 110px 16px 15px 16px;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .contact-text-footer {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--contact-text-color);
  }

  hr.line-footer {
    border-top: 1px solid var(--line-footer-color);
    margin: 0;
  }

  .social-footer-display {
    margin-top: 30px;
  }

  .copyright-footer {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--copyright-footer-color);
    width: 768px;
  }
}

/* Stilizare pentru desktop */
@media screen and (min-width: 1280px) {
  .global-footer {
    background-color: var(--footer-background-color);
    height: 877px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .homemade-text {
    font-family: var(--second-font-family);
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--homemade-color-footer);
    width: 500px;
  }

  .passion-text {
    font-family: var(--second-font-family);
    font-weight: 400;
    font-size: 58px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--passion-color-footer);
    width: 500px;
  }

  .social-link-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 110px 16px 60px 16px;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .contact-text-footer {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--contact-text-color);
  }

  hr.line-footer {
    border-top: 1px solid var(--line-footer-color);
    margin: 0 16px;
  }

  .copyright-footer {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--copyright-footer-color);
    width: 1280px;
  }
}
