:root {
  --font-family: 'DM Sans', sans-serif;
  --second-font-family: 'Titan One', sans-serif;
  --footer-background-color: #fff5f6;
  --white-color: #fff;
  --btn-footer-color: #d41443;
  --btn-footer-hover-background: #d41342;
  --homemade-color-footer: #ffa5ba;
  --background-footer-icon: #fea5bb;
  --passion-color-footer: #d41443;
  --contact-phone-color: #d41443;
  --contact-text-color: #000;
  --copyright-footer-color: #907e82;
  --line-footer-color: #e1e1e1;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-footer {
  background-color: var(--footer-background-color);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.btn-details {
  display: flex;
  justify-content: center;
}

.btn-footer {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--btn-footer-color);
  background-color: var(--white-color);
  border-radius: 22px;
  border: none;
  margin-top: 60px;
}

.btn-footer:hover,
.btn-footer:focus {
  color: var(--white-color);
  background-color: var(--btn-footer-hover-background);
  border-radius: 22px;
  cursor: pointer;
  transition: var(--transition);
  outline: none;
}

.btn-locations-footer {
  width: 198px;
  height: 44px;
  margin-right: 12px;
}

.btn-frachise-footer {
  width: 168px;
  height: 44px;
}

.homemade-text {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--homemade-color-footer);
  width: 479px;
}

.passion-text {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 58px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--passion-color-footer);
}

.social-links {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.social-link-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 16px 80px 16px;
}

.footer-icon {
  width: 34px;
  height: 34px;
  background: var(--background-footer-icon);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon:hover,
.footer-icon:active,
.footer-icon:focus {
  background: var(--btn-footer-color);
  border-radius: 50%;
  outline: none;
  transition: var(--transition);
}

.footer-icon svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.contact-footer {
  display: flex;
}

.contact-text-footer {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--contact-text-color);
}

.contact-phone-footer {
  color: var(--contact-phone-color);
}

hr.line-footer {
  border-top: 1px solid var(--line-footer-color);
  width: 1167px;
}

.copyright-footer {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--copyright-footer-color);
}
