.gallery section {
    width: 1280px;
    height:430px;
    background: linear-gradient(to bottom,#fff5f6 20%, #fff 80%);
    border-radius: 20px;
}


.gallery section .container {
    width:1013px;
    height:430px;
    display:flex;
    justify-content: center;
}

.unstyle-list {
    list-style-type: none;
}

