:root {
  --font-family: 'DM Sans', sans-serif;
  --second-font-family: 'Titan One', sans-serif;
  --header-btn-bg-color: #ffffff;
  --header-btn-active-bg-color: #ecebeb;
  --header-btn-text: #d41443;
  --header-text-color: #ffffff;
  --header-text-color-hover: #d41443;
  --hero-bg-color: #ffb8ca;
  --hero-ice-cream-bg-color: #ffa5ba;
  --hero-title-text-color: #ffffff;
  --hero-title-color-red: #d41443;
  --hero-text-color: #ffffff;
  --hero-arrow-btn: #ffffff;
  --hero-products-btn-bg-color: #d41443;
  --hero-him-btn-bg-color: #ffffff;
  --hero-button-active-bg-color: #ecebeb;
  --hero-products-button-text: #ffffff;
  --hero-him-button-text: #d41443;
  --hero-number-color-text: #d41443;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --navy-blue-modal: #2e2f4266;
  --modal-background: #fff5f6;
  --modal-close-btn: #2e2f42;
  --modal-cole-btn-bg: #e7e9fc;
  --form-heading-color: #2e2f42;
  --form-label-color: #8e8f99;
  --form-icon-color: hsl(237, 18%, 22%);
  --checkbox-color: #ffa5ba;
  --checkbox-text-color: #8e8f99;
  --checkbox-policy-txt-color: #ffa5ba;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  transition: background-color, color var(--transition);
}
.global-header {
  background-color: var(--hero-bg-color);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 16px;
  padding-top: 50px;
  z-index: 3;
}
.header ul {
  display: flex;
  padding: 0;
  overflow: visible;
  gap: 35px;
}
.header-logo svg {
  width: 199px;
  height: 50px;
}
.burger-menu-btn {
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  color: #d41443;
  cursor: pointer;
}

.burger-menu-btn:hover,
.burger-menu-btn:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.buy-now-btn {
  border-radius: 22px;
  width: 159px;
  height: 44px;
  border-width: 0px;
  background-color: var(--header-btn-bg-color);
  color: var(--header-btn-text);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.buy-now-btn:hover {
  background-color: var(--header-btn-active-bg-color);
  transition: background-color var(--transition);
}
.header-btn-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: var(--header-btn-text);
}
.nav-bar {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  z-index: 3;
}
.nav-bar a,
.nav-bar a:visited {
  color: var(--header-text-color);
}
.nav-bar a:hover {
  color: var(--header-text-color-hover);
}
/* .header-btn-icon {
  width: 4px;
  height: 8px;
  fill: #d41443;
} */
.hero-left {
  z-index: 3;
}
.ice-cream-made {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--hero-title-text-color);
  line-height: 90%;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding-top: 50px;
}
.passion {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 58px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--hero-title-color-red);
  line-height: 90%;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.hero-buttons ul {
  display: flex;
  flex-direction: row;
  gap: 12px;
  border-width: 0px;
  padding-left: 0px;
}

.hero-products-btn {
  border-radius: 20px;
  width: 107px;
  height: 40px;
  background-color: var(--hero-products-btn-bg-color);
  color: var(--hero-products-button-text);
  border-width: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.hero-howitsmade-btn {
  border-radius: 20px;
  width: 138px;
  height: 40px;
  background-color: var(--hero-him-btn-bg-color);
  color: var(--hero-him-button-text);
  border-width: 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.hero-howitsmade-btn:hover {
  background-color: var(--hero-button-active-bg-color);
  transition: background-color var(--transition);
}
.hero-left-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--hero-text-color);
}
.hero-arrow-btn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border-width: 0px;
  background-color: var(--hero-arrow-btn);
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.hero-arrow-btn svg {
  width: 26px;
  height: 26px;
  fill: #d41443;
}

.cafes {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 25px;
}
.trucks {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero-number {
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 46px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: var(--hero-number-color-text);
  z-index: 9;
}
.hero-elipse {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: -10px;
  right: -10px;
}

.hero-cafes-trucks-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  color: var(--hero-text-color);
}
h1 span {
  display: flex;
}
.hero {
  display: flex;
  height: 664px;
  position: relative;
  padding-left: 16px;
}
.hero-milk-pitcher {
  display: flex;
  flex: column;
  align-items: center;
  padding-top: 40px;
}
.hero-milk-pitcher img {
  animation: pitcher 1s linear infinite;
}
/* .hero-ice-cream img {
  animation: pitcher 1s linear infinite;
} */

@keyframes pitcher {
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  0% {
    transform: translateY(-2px);
  }
}
/* @keyframes tasty {
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  0% {
    transform: translateY(-10px);
  }
}
@keyframes icecream {
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  0% {
    transform: translateY(-5px);
  }
} */
.hero-right {
  display: flex;
}
.hero-tasty {
  position: absolute;
  right: 16px;
  bottom: 0px;
  z-index: 4;
  /* animation: pitcher 1s linear infinite; */
}
.hero-ice-cream {
  position: absolute;
  right: 328px;
  bottom: 0px;
  z-index: 2;
}
.hero-pink-elipse {
  position: absolute;
  z-index: 1;
  right: 170px;
  bottom: 160px;
}

.hero-cafes-trucks {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 16px;
  top: 68px;
  gap: 25px;
}
/* Modal  buy now button*/
.is-hidden {
  visibility: hidden;
  scale: 1.05;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--navy-blue-modal);
  transition: transform var(--transition);
}
.modal-content {
  position: relative;
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 24px;
  width: 408px;
  height: 584px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: #d41443;
  background-color: #ffa5ba;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-style: none;
  margin-bottom: 24px;
  cursor: pointer;
}
.modal-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--header-text-color-hover);
  margin-top: 40px;
  margin-bottom: 16px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}
.form-input:focus {
  outline: none;
  border-color: #ffa5ba;
}
.form-input:focus + .form-icon {
  color: #ffa5ba;
}
.form-icon {
  position: absolute;
  padding: 3px 0px;
  width: 18px;
  height: 24px;
  top: calc(50%);
  left: 16px;
  color: var(--form-icon-color);
  color: var(--header-btn-text);
}
.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.form-group .form-input {
  left: 0.5rem;
  padding-left: 2.5rem;
}
.form-label {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--form-label-color);
}

.form-textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
}
.form-textarea:focus {
  outline: none;
  border-color: #ffa5ba;
}
.agree-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.agree-check .checkmark {
  appearance: none;
}
.agree-check .check-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: none;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
}
.agree-check .checkmark:focus + .check-icon,
.agree-check .checkmark:checked:focus + .check-icon {
  outline: 1px solid rgba(46, 47, 66, 0.4);
}
.agree-check .checkmark:checked + .check-icon {
  background-color: var(--checkbox-color);
  border-color: var(--checkbox-color);
  fill: var(--checkbox-color);
  outline: none;
  stroke: var(--checkbox-color);
  stroke-width: 0.2;
}
.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--checkbox-text-color);
}
.check-policy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--checkbox-policy-txt-color);
}
.modal-send-btn {
  border-radius: 20px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--header-btn-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--header-text-color-hover);
  cursor: pointer;
  border-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-send-btn:hover {
  background-color: var(--header-btn-active-bg-color);
  transform: scale(1.05);
  transition: background-color var(--transition);
}
