@import url(/src/css/about.css);
@import url(/src/css/advantages.css);
@import url(/src/css/hero.css);
@import url(/src/css/footer.css);
@import url(/src/css/contacts.css);
@import url(/src/css/mobile-menu.css);
@import url(/src/css/customers.css);

@media screen and (max-width: 320px) {
  .nav-bar {
    display: none;
  }
  .buy-now-btn {
    display: none;
  }
  .hero-cafes-trucks {
    display: none;
  }
  .hero-tasty {
    display: none;
  }
  .hero-milk-pitcher {
    display: none;
  }
  .ice-cream-made {
    font-size: 26px;
  }
  .passion {
    font-size: 46px;
  }
  .hero-products-btn {
    width: 62px;
    height: 24px;
    font-size: 8px;
  }
  .hero-howitsmade-btn {
    width: 82px;
    height: 24px;
    font-size: 8px;
  }
  .hero-ice-cream {
    width: 171px;
  }
}
@media screen and (max-width: 480px) {
}
@media screen and (min-width: 481px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .menu-for-mobile {
    display: none;
  }
  .burger-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .menu-for-mobile {
    display: none;
  }
}
