.upper-prod{
    display: flex;
    justify-content: center;
}
.title-prod{
    display: flex;
    justify-content: center;
}
.product-type{
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    display: grid;
}
.product-list{
    width: 368px;
    height: 796px;
}
.prod-1{

}
.prod1-description{

}
.modal-svg-btn{

}
.icon-modal-prod-1{

}
.description4prod{
    
}